body {
  height: 100%;
  background-color: lightblue;
  padding: 6px;
  text-align: center;
  font-size: 18px;
}

#ask {
  display: block;
  padding: 4px;
  margin: auto;
}

#choices {
  width: 90%;
  overflow: auto;
}

#list {
  white-space: nowrap;
}

#list li {
  display: inline;
  list-style-type: none;
  cursor: pointer;
}

#list li:hover {
  opacity: 0.5;
}
